body {
    margin: 40px;
    padding: 40px;
    background-color: #fff8Dc;
    border: 1px solid #808080;
}
h1 {
    text-align: center;
    color: #ff8c00;
}
h2 {
    text-align: left;
    color: #FF8C00;
}
a, a:visited {
    color: #000000;
    text-decoration: none;
}
footer {
    text-align: center;
}
