body {
    background-color: #454545;
    padding: 1%;
    font-family: helvetica;
    color: #fafafa;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;

}
header {
    text-align: center;

}
p {
    text-indent: 5%;

}
h1 {
    font-style: cursive;
    text-align: center;
    line-height: 125%;
}


nav {
    width: 100%;
    margin: 1% auto;
    overflow: hidden;
}
nav ul {
    list-style: none;
}
nav li a {
    background-color: #737373;
    border-right: 1px solid #454545;
    color: #fafafa;
    display: block;
    float: left;
    font-size: 120%;
    font-weight: 600;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    width: 16.65%;
    transition: background 0.5s ease;
}
nav li a:hover, nav li a.active {
    background-color: #dadada;
    color: #454545;
}
nav li:last-child a {
    border: none;
}

#banner {
    width: 100%;
    display: block;
}
.banner img {
    width: 100% ;
    height: 30vw;
}
main {

    width: 100%;
    display: flex;
}
aside {
    background-color: #747474;
    padding: 20px;
    flex-basis: 20%;
}
aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
aside li {
    flex: 1;


}
aside li a {
    color: white;
    text-decoration: none;
}
section {
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
article {
    background-color: #737373;
    flex: 3;
}
article p {
    padding: 2%;
}
footer {
    background-color: grey;
     
    flex: 1;
    position: relative;
    margin-top: 4vw;
    width: 100%;
}
