@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=IM+Fell+French+Canon);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
img.photo {
    text-align: center;
    padding: 3px;
    border: double 9px #9E354A;
    height: 200px
}
#sugah {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}
#france {
    font-family: 'IM Fell French Canon', serif;
}   
body {
    border: dotted 4px #184A00;
    background: #519331
}
h1 {
    font-family:Georgia, serif;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span {
   font-family: 'Shadows Into Light', cursive;
   text-size: 15px;
}
ul#center {
    margin-left: auto;
    margin-right: auto;
    width: 5em;
}
li {
    border: dotted #771427 1px;
    color: #771427
}
p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
