@import url("advlink.css");
@import url("lastmodtr.css");
@import url("footer.css");
@import url("nav.css");

.defaults {
  background: #7BC2C2;
}

body {
  margin: 25px;
  padding: 10px;
  border: 1px dotted #3F5893;
  background: #7BC2C2;
}

h1, h1 *, h2, h2 *, h3, h3 *, h4, h4 *, h5, h5 * {
  color: #004545;
}

h1{
  text-align: center;
}

hr {
  border-color: #3F5893;
}

