footer {
    text-align: center;
    display: block;
    margin: initial;
}
/**
footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #007;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}

footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: #007;
    padding-left: 2px;
    margin-right: 5px;
}

footer a:hover {
    color: #FFF;
    background-color: #007;
}

footer a:hover strong {
    color: #007;
    background-color: #DDD;
}  
*/
footer span#valid {
  padding: 10px;
  border: 1px dashed;
}

footer > span#valid a, footer > span#valid a:visited {
  text-decoration: none;
}
