nav {
  background: #AEE1E1;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 2px solid #3f5789;
  border-bottom: 2px solid #3f5789;
  text-align: center; 
}

nav a, nav a:visited, nav a:hover, nav a:active {
  color: #2F8383;
  border-bottom: initial;
}

nav a + a:before {
  color: #000;
  content: "... ";
  font-weight: bold;
  cursor: default;
}

nav a b {
  font-weight: 800;
  color: #0B5D5D;
}
