body {
  background: #FFE2CB;
  margin: 50px;
}
header h1 {
  text-align: center;
  color: black
}
a, a:visited {
  text-decoration: none;
}
nav {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 40px;
}
nav a, nav a:visited {
  padding: 10px;
  border: 1px dotted #EEEEEE;
  margin: 10px;
  color: #FFCFA9;
  background-color: #72ACAA;
  font-weight: 10px;
}
nav a:visited {
  color: #E8A977;
}
nav a:hover {
  color: #BD7943;
}
section {
  background-color: #558C89;
  color: #ECECEA;
  margin-top: 30px;
  padding-left: 30px;
  border: 1px solid #444;
  border-radius :25px;
}
section h2 {
  margin-left: -15px;
  font-size: 2.2em;
  color: #A2A290;
}
section h3 {
  color: #C6C6BC;
}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: .9em;
}
footer a {
  border: 1px solid;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  margin-right: 10px;
  background-color: #558C89;
}
a > strong {
  background-color: #BD7943;
  color: #FFD1AC;
  padding: 2px;
  padding-left: 4px;
  margin-right: 2px;
}
