pre {
    font-family: "Times New Roman", Times, serif;
}
th, td {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
th {
  border: 2px solid;
}
td {
  border: 1px dashed;
}
em {
  margin: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
